@forward "base-style.scss";

[data-barba="container"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.listLeave {
	z-index: 1;
}

.detailEnter .banner-img img {
	opacity: 0;
}

.listLeave .banner-img img {
	opacity: 0;
}

.detailLeave .triggerImg,
.listEnter .triggerImg {
	opacity: 0;
}

.transitionImg {
	position: fixed;
	z-index: 2;
	object-fit: cover;
	object-position: center center;
	aspect-ratio: 1/1;
	transform-origin: 50% 100%;
	overflow: clip;
	pointer-events: none;
}
